@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
    margin: 0;
}
:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color:#10121A;
    --background-dark-grey:rgba(2, 44, 87, 0.818);
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3,127,255,.3);
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;}

body{
    background: linear-gradient(var(--background-dark-color),var(--background-dark-grey));
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stars{
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0;
    object-fit: cover;
    opacity: 0.8;
    animation: opacityAnimation 3s infinite ease-in-out ;
}
@keyframes opacityAnimation {
    0%, 100% {
      opacity: 0.4; /* Lower opacity at the beginning and end */
    }
    50% {
      opacity: 1; /* Higher opacity at the middle */
    }
  }

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 30px;
}

.top-bar .nav-bar li {
    list-style: none;
    display: inline-block;  
    }
    
.top-bar .nav-bar li a{
    color: var(--font-light-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 10PX;
    padding: 10px 15px;
    border-radius: 10Px;
}
.top-bar .logo{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 4px;
}
.top-bar .nav-bar li a:hover{
    color: var(--background-light-color);
    background-color: var(--background-light-color-2);
    transition: all 0.5s ease-in-out;
    }
.home-content{
display: flex;
flex-direction: column;
padding-top: 150px;
margin-left: 70px;
}
.home-content .main-text h1{
    font-size: 1.9rem;
    color: #F1F1F1;
   font-weight: 500;
   margin-bottom: 10px;
}

.home-content .main-text h2{
    font-size: 2.5rem;
    color: #F1F1F1;
    font-weight: 700;
    margin-bottom: 10px;
   
}
.home-content .main-text h2 span{
    color: var(--primary-color);
    transition: 1s ease-in
}

.home-content .main-text h3{
    font-size: 2rem;
    color: #F1F1F1;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.home-content .main-text h3 span{
    color: var(--primary-color);
    transition: 1s ease-in
}

.cv-btn{
    padding: 10px 30px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: var(--primary-color);
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    border: none;
    color: var(--background-light-color);
    z-index: 1;
    }

.cv-btn::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right:0 ;
    left: 0;
    background-color: var(--background-dark-grey);
    z-index: -1;
    border-radius: 15px;
    transform:scaleX(0);
    
}
.cv-btn:hover::before{
    transform:scaleX(1);
    transition: all 0.7s ease-in-out;
}